**Sommaire**<a id='toc0_'></a>
- [Resultats](#toc1_)
    - [Les meilleurs équipes](#toc1_1_)
    - [Les pires équipes](#toc1_2_)
    - [Le plus de matchs nuls](#toc1_3_)
    - [Le plus grand nombres de matchs joués](#toc1_4_)
    - [Le moins de matchs joués](#toc1_5_)
    - [Les meilleurs attaques](#toc1_6_)
    - [Les pires attaques](#toc1_7_)
    - [Les meilleurs défenses](#toc1_8_)
    - [Les pires défenses](#toc1_9_)
    - [Moyenne de match joués par équipe](#toc1_10_)
    - [Moyenne de buts marqués par match](#toc1_11_)
    - [Moyenne de buts encaissés par match](#toc1_12_)
    - [Score le plus large](#toc1_13_)
    - [Liste des tournois](#toc1_14_)
    - [Tournois les plus joués](#toc1_15_)
    - [Les meilleurs équipes à domicile](#toc1_16_)
    - [Les meilleurs équipes à l'extérieur](#toc1_17_)
    - [Les pires équipes à domicile](#toc1_18_)
    - [Les pires équipesl'extérieur](#toc1_19_)

- [Buteurs](#toc2_)
    - [Meilleurs buteurs](#toc2_1_)
    - [Meilleurs buteurs par pays](#toc2_2_)
    - [Nombre de buts marqués à chaque minutes](#toc2_3_)
    - [Les 5 minutes les plus prolifiques](#toc2_4_)
    - [Buteurs sur penalty](#toc2_5_)
    - [Meilleurs buteurs à chaque décennie](#toc2_7_)
    - [Les joueurs avec le plus de doublés](#toc2_8_)
    - [Les joueurs avec le plus de triplés](#toc2_9_)
    - [Les joueurs avec le plus de quadruplés](#toc2_10_)
    - [Les joueurs avec le plus en un match](#toc2_11_)

# <a id='toc1_'></a>[Resultats](#toc0_)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('goalscorers.csv')
data = pd.read_csv('results.csv')

## <a id='toc1_1_'></a>[Les meilleurs équipes](#toc0_)

In [9]:
data['win'] = data['home_score'] > data['away_score']

wins_count = data.groupby('home_team')['win'].sum()

top_5_teams = wins_count.sort_values(ascending=False).head(5)

print("Les 5 équipes qui ont gagné le plus de matchs :")

print(top_5_teams)

Les 5 équipes qui ont gagné le plus de matchs :
home_team
Brazil       429
Argentina    390
Mexico       332
Germany      331
England      331
Name: win, dtype: int64

## <a id='toc1_2_'></a>[Les pires équipes](#toc0_)

In [10]:
def find_top_losing_teams():
    
    data['loss'] = data['home_score'] < data['away_score']

    losses_count = data.groupby('away_team')['loss'].sum()

    top_5_losing_teams = losses_count.sort_values(ascending=False).head(5)

    print("Les 5 équipes qui ont perdu le plus de matchs :")
    
    print(top_5_losing_teams)

find_top_losing_teams()

Les 5 équipes qui ont perdu le plus de matchs :
away_team
England    274
Germany    249
Brazil     231
Sweden     223
Uruguay    205
Name: loss, dtype: int64

## <a id='toc1_3_'></a>[Le plus de matchs nuls](#toc0_)

In [14]:
def find_top_draw_teams():
    
    data['draw'] = data['home_score'] == data['away_score']

    draws_count = data.groupby('home_team')['draw'].sum() + data.groupby('away_team')['draw'].sum()

    top_5_draw_teams = draws_count.sort_values(ascending=False).head(5)

    print("Les 5 équipes qui ont fait le plus de matchs nuls :")
    
    print(top_5_draw_teams)

find_top_draw_teams()

Les 5 équipes qui ont fait le plus de matchs nuls :
Argentina      254.0
England        254.0
South Korea    248.0
Italy          238.0
Sweden         229.0
Name: draw, dtype: float64

## <a id='toc1_4_'></a>[Le plus grand nombres de matchs joués](#toc0_)

In [11]:
def find_top_match_playing_teams():
    
    matches_count = data.groupby('home_team').size() + data.groupby('away_team').size()

    top_5_match_playing_teams = matches_count.sort_values(ascending=False).head(5)

    print("Les 5 équipes qui ont joué le plus de matchs :")
    
    print(top_5_match_playing_teams)

find_top_match_playing_teams()

Les 5 équipes qui ont joué le plus de matchs :
Sweden       1073.0
England      1061.0
Argentina    1039.0
Brazil       1034.0
Germany      1001.0
dtype: float64

## <a id='toc1_5_'></a>[Le moins de matchs joués](#toc0_)

In [12]:
def find_top_match_playing_teams():

    matches_count = data.groupby('home_team').size() + data.groupby('away_team').size()

    top_5_match_playing_teams = matches_count.sort_values(ascending=True).head(5)

    print("Les 5 équipes qui ont joué le moins de matchs :")
    
    print(top_5_match_playing_teams)

find_top_match_playing_teams()

Les 5 équipes qui ont joué le moins de matchs :
Malaya           2.0
Aymara           2.0
Ticino           2.0
Central Spain    2.0
Chechnya         3.0
dtype: float64

## <a id='toc1_6_'></a>[Les meilleurs attaques](#toc0_)

In [15]:
def find_top_goal_scoring_teams():
    
    goals_scored = data.groupby('home_team')['home_score'].sum() + data.groupby('away_team')['away_score'].sum()

    top_5_goal_scoring_teams = goals_scored.sort_values(ascending=False).head(5)

    print("Les 5 équipes qui ont marqué le plus de buts :")
    
    print(top_5_goal_scoring_teams)

find_top_goal_scoring_teams()

Les 5 équipes qui ont marqué le plus de buts :
England    2323.0
Brazil     2260.0
Germany    2237.0
Sweden     2110.0
Hungary    1978.0
dtype: float64

## <a id='toc1_7_'></a>[Les pires attaques](#toc0_)

In [16]:
def find_top_goal_scoring_teams():
    
    goals_scored = data.groupby('home_team')['home_score'].sum() + data.groupby('away_team')['away_score'].sum()

    top_5_goal_scoring_teams = goals_scored.sort_values(ascending=True).head(5)

    print("Les 5 équipes qui ont marqué le moins de buts :")
    
    print(top_5_goal_scoring_teams)

find_top_goal_scoring_teams()

Les 5 équipes qui ont marqué le moins de buts :
Manchukuo    0.0
Sark         0.0
Aymara       1.0
Darfur       1.0
Ticino       2.0
dtype: float64

## <a id='toc1_8_'></a>[Les meilleurs défenses](#toc0_)

In [20]:
def find_top_defenses():

    goals_conceded = data.groupby('home_team')['away_score'].sum() + data.groupby('away_team')['home_score'].sum()

    top_5_defenses = goals_conceded.sort_values(ascending=True).head(5)

    print("Les 5 meilleures défenses :")
    
    print(top_5_defenses)

find_top_defenses()

Les 5 meilleures défenses :
Biafra                1.0
Central Spain         4.0
Parishes of Jersey    4.0
Aymara                4.0
Corsica               5.0
dtype: float64

## <a id='toc1_9_'></a>[Les pires défenses](#toc0_)

In [25]:
equipes = pd.concat([data['home_team'], data['away_team']])

buts_encaisses = equipes.value_counts().reset_index()
buts_encaisses.columns = ['equipe', 'buts_encaisses']

pire_defenses = buts_encaisses.head(5)

print("Les cinq pires défenses :")
print(pire_defenses)

Les cinq pires défenses :
      equipe  buts_encaisses
0     Sweden            1073
1    England            1061
2  Argentina            1039
3     Brazil            1034
4    Germany            1001

## <a id='toc1_10_'></a>[Moyenne de match joués par équipe](#toc0_)

In [40]:
matches_played = df.groupby('home_team')['home_team'].count().reset_index(name='total_matches')

average_matches_played = matches_played['total_matches'].mean()

print("Moyenne de matchs joués par équipe :", average_matches_played)

Moyenne de matchs joués par équipe : 200.5

## <a id='toc1_11_'></a>[Moyenne de buts marqués par match](#toc0_)

In [42]:
goals_scored_data = data.groupby('home_team').agg({'home_score': 'sum', 'away_score': 'sum', 'home_team': 'count'})

goals_scored_data = goals_scored_data[goals_scored_data['home_team'] > 200]

goals_scored_data.columns = ['home_goals_scored', 'away_goals_scored', 'total_matches']

goals_scored_data['total_goals_scored'] = goals_scored_data['home_goals_scored'] + goals_scored_data['away_goals_scored']

goals_scored_data['goals_scored_per_match'] = goals_scored_data['total_goals_scored'] / goals_scored_data['total_matches']

top_5_scoring_teams = goals_scored_data.sort_values(by='goals_scored_per_match', ascending=False).head(5)

print(top_5_scoring_teams)

                home_goals_scored  away_goals_scored  total_matches  \
home_team
Czechoslovakia                556                281            232
Germany                      1319                563            535
Hungary                      1114                577            484
Sweden                       1204                584            520
Netherlands                  1071                466            454

                total_goals_scored  goals_scored_per_match
home_team
Czechoslovakia                 837                3.607759
Germany                       1882                3.517757
Hungary                       1691                3.493802
Sweden                        1788                3.438462
Netherlands                   1537                3.385463

## <a id='toc1_12_'></a>[Moyenne de buts encaissés par match](#toc0_)

In [41]:
goals_conceded_data = data.groupby('home_team').agg({'away_score': 'sum', 'home_score': 'sum', 'home_team': 'count'})

goals_conceded_data = goals_conceded_data[goals_conceded_data['home_team'] > 200]

goals_conceded_data.columns = ['away_goals_conceded', 'home_goals_conceded', 'total_matches']

goals_conceded_data['total_goals_conceded'] = goals_conceded_data['away_goals_conceded'] + goals_conceded_data['home_goals_conceded']

goals_conceded_data['goals_conceded_per_match'] = goals_conceded_data['total_goals_conceded'] / goals_conceded_data['total_matches']

top_5_defensive_teams = goals_conceded_data.sort_values(by='goals_conceded_per_match', ascending=True).head(5)

print(top_5_defensive_teams)

              away_goals_conceded  home_goals_conceded  total_matches  \
home_team
South Africa                  179                  358            259
Senegal                       166                  415            256
Jordan                        188                  336            229
Morocco                       192                  545            314
Malawi                        371                  479            355

              total_goals_conceded  goals_conceded_per_match
home_team
South Africa                   537                  2.073359
Senegal                        581                  2.269531
Jordan                         524                  2.288210
Morocco                        737                  2.347134
Malawi                         850                  2.394366

## <a id='toc1_13_'></a>[Score le plus large](#toc0_)

In [47]:
data['score_difference'] = abs(data['home_score'] - data['away_score'])

max_score_difference = data['score_difference'].max()

match_with_max_score_difference = data[data['score_difference'] == max_score_difference]

home_team = match_with_max_score_difference['home_team'].iloc[0]
away_team = match_with_max_score_difference['away_team'].iloc[0]
home_score = match_with_max_score_difference['home_score'].iloc[0]
away_score = match_with_max_score_difference['away_score'].iloc[0]

print("Résultat du match avec le score le plus large:")
print("Équipe à domicile:", home_team)
print("Équipe à l'extérieur:", away_team)
print("Score à domicile:", home_score)
print("Score à l'extérieur:", away_score)

Résultat du match avec le score le plus large:
Équipe à domicile: Australia
Équipe à l'extérieur: American Samoa
Score à domicile: 31
Score à l'extérieur: 0

## <a id='toc1_14_'></a>[Liste des tournois](#toc0_)

In [48]:
tournois_differents = data['tournament'].unique()

print("Liste des tournois différents :")
for tournoi in tournois_differents:
    print(tournoi)

Liste des tournois différents :
Friendly
British Home Championship
Évence Coppée Trophy
Muratti Vase
Copa Lipton
Copa Newton
Copa Premio Honor Argentino
Copa Premio Honor Uruguayo
Copa Roca
Copa América
Peace Cup
Copa Chevallier Boutell
Olympic Games
Nordic Championship
Central European International Cup
Baltic Cup
Balkan Cup
FIFA World Cup
Copa Rio Branco
FIFA World Cup qualification
Bolivarian Games
CCCF Championship
NAFC Championship
Copa Oswaldo Cruz
Asian Games
Pan American Championship
Copa del Pacífico
Copa Bernardo O'Higgins
AFC Asian Cup qualification
Atlantic Cup
AFC Asian Cup
African Cup of Nations
Copa Paz del Chaco
Merdeka Tournament
UEFA Euro qualification
Southeast Asian Peninsular Games
UEFA Euro
Windward Islands Tournament
African Cup of Nations qualification
Vietnam Independence Cup
Copa Carlos Dittborn
Phillip Seaga Cup
CONCACAF Championship
Copa Juan Pinto Durán
Arab Cup
South Pacific Games
CONCACAF Championship qualification
Copa Artigas
GaNEFo
King's Cup
Gulf Cup
Indonesia Tournament
Korea Cup
Palestine Cup
Brazil Independence Cup
Copa Ramón Castilla
Oceania Nations Cup
CECAFA Cup
Kuneitra Cup
Copa Félix Bogado
Real Madrid 75th Anniversary Cup
Beijing International Friendship Tournament
Southeast Asian Games
Kirin Cup
CFU Caribbean Cup qualification
CFU Caribbean Cup
Amílcar Cabral Cup
FIFA 75th Anniversary Cup
Guangzhou International Friendship Tournament
Mundialito
West African Cup
Nehru Cup
Merlion Cup
Great Wall Cup
UDEAC Cup
Rous Cup
CONMEBOL–UEFA Cup of Champions
Miami Cup
Lunar New Year Cup
Arab Cup qualification
Tournoi de France
Malta International Tournament
Four Nations Tournament
Matthews Cup
Tournament Burkina Faso
Marlboro Cup
Island Games
NAFU Championship
Dynasty Cup
Dakar Tournament
UNCAF Cup
Scania 100 Tournament
Gold Cup
USA Cup
Jordan International Tournament
Confederations Cup
East Asian Games
United Arab Emirates Friendship Tournament
Joe Robbie Cup
Oceania Nations Cup qualification
Simba Tournament
SAFF Cup
AFF Championship
King Hassan II Tournament
Cyprus International Tournament
Dunhill Cup
COSAFA Cup qualification
COSAFA Cup
Gold Cup qualification
AFF Championship qualification
SKN Football Festival
UNIFFAC Cup
WAFF Championship
Millennium Cup
Cup of Ancient Civilizations
Prime Minister's Cup
The Other Final
EAFF Championship
TIFOCO Tournament
Afro-Asian Games
AFC Challenge Cup
FIFI Wild Cup
ELF Cup
Viva World Cup
AFC Challenge Cup qualification
VFF Cup
Dragon Cup
ABCS Tournament
Nile Basin Tournament
Nations Cup
Copa Confraternidad
Pacific Games
Superclásico de las Américas
Africa Cup of Nations qualification
Kirin Challenge Cup
Tynwald Hill Tournament
OSN Cup
CONIFA World Football Cup
Niamh Challenge Cup
CONIFA European Football Cup
Benedikt Fontana Cup
Copa América qualification
ConIFA Challenger Cup
Hungary Heritage Cup
World Unity Cup
Pacific Mini Games
Intercontinental Cup
UEFA Nations League
CONCACAF Nations League qualification
Atlantic Heritage Cup
Inter Games Football Tournament
CONCACAF Nations League
Three Nations Cup
Mahinda Rajapaksa Cup
Navruz Cup
CONIFA Africa Football Cup
CONIFA South America Football Cup
MSG Prime Minister's Cup
Tri Nation Tournament
CAFA Nations Cup
Mauritius Four Nations Cup
CONIFA World Football Cup qualification
CONIFA Asia Cup
FIFA Series

## <a id='toc1_15_'></a>[Tournois les plus joués](#toc0_)

In [50]:
matchs_par_tournoi = data['tournament'].value_counts()

top_10_tournois = matchs_par_tournoi.head(10)

print("Les 10 tournois les plus joués :")

print(top_10_tournois)

Les 10 tournois les plus joués :
tournament
Friendly                                17906
FIFA World Cup qualification             8052
UEFA Euro qualification                  2824
African Cup of Nations qualification     2116
FIFA World Cup                            964
Copa América                              841
African Cup of Nations                    793
AFC Asian Cup qualification               764
CECAFA Cup                                620
CFU Caribbean Cup qualification           606
Name: count, dtype: int64

## <a id='toc1_16_'></a>[Les meilleurs équipes à domicile](#toc0_)

In [28]:
victoires_domicile = data[data['home_score'] > data['away_score']]

victoires_par_equipe = victoires_domicile['home_team'].value_counts().reset_index()
victoires_par_equipe.columns = ['equipe', 'victoires_domicile']

top_5_equipes_victoires_domicile = victoires_par_equipe.head(5)

print("Les cinq équipes avec le plus de victoires à domicile :")
print(top_5_equipes_victoires_domicile)

Les cinq équipes avec le plus de victoires à domicile :
      equipe  victoires_domicile
0     Brazil                 429
1  Argentina                 390
2     Mexico                 332
3    England                 331
4    Germany                 331

## <a id='toc1_17_'></a>[Les meilleurs équipes à l'extérieur](#toc0_)

In [29]:
victoires_exterieur = data[data['away_score'] > data['home_score']]

victoires_par_equipe_exterieur = victoires_exterieur['away_team'].value_counts().reset_index()
victoires_par_equipe_exterieur.columns = ['equipe', 'victoires_exterieur']

top_5_equipes_victoires_exterieur = victoires_par_equipe_exterieur.head(5)

print("Les cinq équipes avec le plus de victoires à l'extérieur :")
print(top_5_equipes_victoires_exterieur)

Les cinq équipes avec le plus de victoires à l'extérieur :
    equipe  victoires_exterieur
0  England                  274
1  Germany                  249
2   Brazil                  231
3   Sweden                  223
4  Uruguay                  205

## <a id='toc1_18_'></a>[Les pires équipes à domicile](#toc0_)

In [31]:
victoires_domicile = data[data['home_score'] > data['away_score']]

victoires_par_equipe_domicile = victoires_domicile['home_team'].value_counts().reset_index()
victoires_par_equipe_domicile.columns = ['equipe', 'victoires_domicile']

bottom_5_equipes_victoires_domicile = victoires_par_equipe_domicile.tail(5)

print("Les cinq équipes avec le moins de victoires à domicile :")
print(bottom_5_equipes_victoires_domicile)

Les cinq équipes avec le moins de victoires à domicile :
               equipe  victoires_domicile
298     Romani people                   1
299  Arameans Suryoye                   1
300    Chagos Islands                   1
301        Donetsk PR                   1
302             Hmong                   1

## <a id='toc1_19_'></a>[Les pires équipes à l'extérieur](#toc0_)

In [30]:
victoires_exterieur = data[data['away_score'] > data['home_score']]

victoires_par_equipe_exterieur = victoires_exterieur['away_team'].value_counts().reset_index()
victoires_par_equipe_exterieur.columns = ['equipe', 'victoires_exterieur']

bottom_5_equipes_victoires_exterieur = victoires_par_equipe_exterieur.tail(5)

print("Les cinq équipes avec le moins de victoires à l'extérieur :")
print(bottom_5_equipes_victoires_exterieur)

Les cinq équipes avec le moins de victoires à l'extérieur :
           equipe  victoires_exterieur
290     Andalusia                    1
291  Two Sicilies                    1
292      Asturias                    1
293      Brittany                    1
294          Gozo                    1

### Stats pas très pertinente c'était sipmlement pour tester

In [51]:
data['date'] = pd.to_datetime(data['date'])

periodes = [
    ('1872-01-01', '1899-12-31'),
    ('1900-01-01', '1949-12-31'),
    ('1950-01-01', '1999-12-31'),
    ('2000-01-01', '2024-12-31')
]

def filtrer_periode(debut, fin):
    return data[(data['date'] >= debut) & (data['date'] <= fin)]

def equipe_plus_victoires(debut, fin):
    matches_periode = filtrer_periode(debut, fin)
    victoires_par_equipe = matches_periode['home_team'].value_counts() + matches_periode['away_team'].value_counts()
    equipe_max_victoires = victoires_par_equipe.idxmax()
    victoires_max = victoires_par_equipe.max()
    return equipe_max_victoires, victoires_max

for debut, fin in periodes:
    equipe, victoires = equipe_plus_victoires(debut, fin)
    print(f"Période {debut} à {fin} : {equipe} avec {victoires} victoires.")

Période 1872-01-01 à 1899-12-31 : Scotland avec 69.0 victoires.
Période 1900-01-01 à 1949-12-31 : Hungary avec 270.0 victoires.
Période 1950-01-01 à 1999-12-31 : South Korea avec 608.0 victoires.
Période 2000-01-01 à 2024-12-31 : Mexico avec 437.0 victoires.

In [54]:
data['date'] = pd.to_datetime(data['date'])

periodes = [
    ('1872-01-01', '1899-12-31'),
    ('1900-01-01', '1949-12-31'),
    ('1950-01-01', '1999-12-31'),
    ('2000-01-01', '2024-12-31')
]

tournois_souhaites = ['FIFA World Cup', 'UEFA Euro', 'Copa América', 'African Cup of Nations', 
                      'UEFA Nations League', 'CONCACAF Nations League', 'AFC Asian Cup']

def filtrer_periode_et_tournois(debut, fin):
    matches_periode = data[(df['date'] >= debut) & (data['date'] <= fin)]
    return matches_periode[(matches_periode['tournament'].isin(tournois_souhaites)) & (matches_periode['tournament'] != 'Friendly')]

def equipe_plus_victoires_periode_et_tournois(debut, fin):
    matches_periode = filtrer_periode_et_tournois(debut, fin)
    victoires_par_equipe = matches_periode['home_team'].value_counts() + matches_periode['away_team'].value_counts()
    if not victoires_par_equipe.empty:
        equipe_max_victoires = victoires_par_equipe.idxmax()
        victoires_max = victoires_par_equipe.max()
        return equipe_max_victoires, victoires_max
    else:
        return "Aucune équipe n'a remporté de matchs dans cette période", 0


for debut, fin in periodes:
    equipe, victoires = equipe_plus_victoires_periode_et_tournois(debut, fin)
    print(f"Période {debut} à {fin} : {equipe} avec {victoires} victoires.")

Période 1872-01-01 à 1899-12-31 : Aucune équipe n'a remporté de matchs dans cette période avec 0 victoires.
Période 1900-01-01 à 1949-12-31 : Uruguay avec 87.0 victoires.
Période 1950-01-01 à 1999-12-31 : Brazil avec 200.0 victoires.
Période 2000-01-01 à 2024-12-31 : Brazil avec 101.0 victoires.

# <a id='toc2_'></a>[Buteurs](#toc0_)

## <a id='toc2_1_'></a>[Meilleurs buteurs](#toc0_)

In [55]:
buteurs = df.groupby(['scorer', 'team']).size().reset_index(name='buts_marques')

top_buteurs = buteurs.sort_values(by='buts_marques', ascending=False).head(5)

print("Les 5 joueurs ayant marqué le plus de buts avec leur nationalité :")

print(top_buteurs)

Les 5 joueurs ayant marqué le plus de buts avec leur nationalité :
                   scorer       team  buts_marques
2670    Cristiano Ronaldo   Portugal           111
11648  Robert Lewandowski     Poland            62
11851       Romelu Lukaku    Belgium            61
5232           Harry Kane    England            55
8137         Lionel Messi  Argentina            54

## <a id='toc2_2_'></a>[Meilleurs buteurs par pays](#toc0_)

In [4]:
df['buts_marques'] = 1

buteurs_par_pays = df.groupby(['scorer', 'team'])['buts_marques'].sum().reset_index()

indices_max_buteurs = buteurs_par_pays.groupby('team')['buts_marques'].idxmax()

meilleurs_buteurs = buteurs_par_pays.loc[indices_max_buteurs]

print("Meilleurs buteurs pour chaque pays :")

print(meilleurs_buteurs)

Meilleurs buteurs pour chaque pays :
                  scorer            team  buts_marques
7592       Khaibar Amani     Afghanistan             2
3846       Erjon Bogdani         Albania            11
5839       Islam Slimani         Algeria            23
4375   Frankie Beauchamp  American Samoa             2
5725       Ildefons Lima         Andorra             6
...                  ...             ...           ...
764          Ali Al-Nono           Yemen             7
187     Abubakar Al-Mass       Yemen DPR             1
14450     Zlatko Vujović      Yugoslavia            18
7361      Kalusha Bwalya          Zambia            19
10922       Peter Ndlovu        Zimbabwe            14

[220 rows x 3 columns]

## <a id='toc2_3_'></a>[Nombre de buts marqués à chaque minutes](#toc0_)

In [15]:
df['buts_marques'] = 1

plage_minutes = range(1, 123)

buts_par_minute = {minute: 0 for minute in plage_minutes}

for minute in plage_minutes:
    buts_minute = df[df['minute'] == minute]
    buts_par_minute[minute] = buts_minute['buts_marques'].sum()

for minute, buts in buts_par_minute.items():
    print(f"Minute {minute} : {buts} but(s) marqué(s)")

Minute 1 : 198 but(s) marqué(s)
Minute 2 : 341 but(s) marqué(s)
Minute 3 : 321 but(s) marqué(s)
Minute 4 : 355 but(s) marqué(s)
Minute 5 : 384 but(s) marqué(s)
Minute 6 : 353 but(s) marqué(s)
Minute 7 : 396 but(s) marqué(s)
Minute 8 : 426 but(s) marqué(s)
Minute 9 : 357 but(s) marqué(s)
Minute 10 : 441 but(s) marqué(s)
Minute 11 : 414 but(s) marqué(s)
Minute 12 : 425 but(s) marqué(s)
Minute 13 : 380 but(s) marqué(s)
Minute 14 : 424 but(s) marqué(s)
Minute 15 : 471 but(s) marqué(s)
Minute 16 : 418 but(s) marqué(s)
Minute 17 : 397 but(s) marqué(s)
Minute 18 : 459 but(s) marqué(s)
Minute 19 : 409 but(s) marqué(s)
Minute 20 : 464 but(s) marqué(s)
Minute 21 : 374 but(s) marqué(s)
Minute 22 : 416 but(s) marqué(s)
Minute 23 : 421 but(s) marqué(s)
Minute 24 : 389 but(s) marqué(s)
Minute 25 : 464 but(s) marqué(s)
Minute 26 : 444 but(s) marqué(s)
Minute 27 : 418 but(s) marqué(s)
Minute 28 : 441 but(s) marqué(s)
Minute 29 : 442 but(s) marqué(s)
Minute 30 : 507 but(s) marqué(s)
Minute 31 : 428 but(s) marqué(s)
Minute 32 : 429 but(s) marqué(s)
Minute 33 : 409 but(s) marqué(s)
Minute 34 : 459 but(s) marqué(s)
Minute 35 : 493 but(s) marqué(s)
Minute 36 : 403 but(s) marqué(s)
Minute 37 : 465 but(s) marqué(s)
Minute 38 : 472 but(s) marqué(s)
Minute 39 : 422 but(s) marqué(s)
Minute 40 : 492 but(s) marqué(s)
Minute 41 : 406 but(s) marqué(s)
Minute 42 : 477 but(s) marqué(s)
Minute 43 : 505 but(s) marqué(s)
Minute 44 : 551 but(s) marqué(s)
Minute 45 : 914 but(s) marqué(s)
Minute 46 : 299 but(s) marqué(s)
Minute 47 : 439 but(s) marqué(s)
Minute 48 : 455 but(s) marqué(s)
Minute 49 : 467 but(s) marqué(s)
Minute 50 : 538 but(s) marqué(s)
Minute 51 : 504 but(s) marqué(s)
Minute 52 : 527 but(s) marqué(s)
Minute 53 : 501 but(s) marqué(s)
Minute 54 : 486 but(s) marqué(s)
Minute 55 : 575 but(s) marqué(s)
Minute 56 : 448 but(s) marqué(s)
Minute 57 : 518 but(s) marqué(s)
Minute 58 : 491 but(s) marqué(s)
Minute 59 : 472 but(s) marqué(s)
Minute 60 : 557 but(s) marqué(s)
Minute 61 : 470 but(s) marqué(s)
Minute 62 : 522 but(s) marqué(s)
Minute 63 : 501 but(s) marqué(s)
Minute 64 : 427 but(s) marqué(s)
Minute 65 : 587 but(s) marqué(s)
Minute 66 : 475 but(s) marqué(s)
Minute 67 : 501 but(s) marqué(s)
Minute 68 : 474 but(s) marqué(s)
Minute 69 : 430 but(s) marqué(s)
Minute 70 : 527 but(s) marqué(s)
Minute 71 : 473 but(s) marqué(s)
Minute 72 : 513 but(s) marqué(s)
Minute 73 : 517 but(s) marqué(s)
Minute 74 : 448 but(s) marqué(s)
Minute 75 : 613 but(s) marqué(s)
Minute 76 : 457 but(s) marqué(s)
Minute 77 : 489 but(s) marqué(s)
Minute 78 : 520 but(s) marqué(s)
Minute 79 : 482 but(s) marqué(s)
Minute 80 : 583 but(s) marqué(s)
Minute 81 : 532 but(s) marqué(s)
Minute 82 : 526 but(s) marqué(s)
Minute 83 : 548 but(s) marqué(s)
Minute 84 : 511 but(s) marqué(s)
Minute 85 : 606 but(s) marqué(s)
Minute 86 : 513 but(s) marqué(s)
Minute 87 : 533 but(s) marqué(s)
Minute 88 : 611 but(s) marqué(s)
Minute 89 : 686 but(s) marqué(s)
Minute 90 : 1779 but(s) marqué(s)
Minute 91 : 4 but(s) marqué(s)
Minute 92 : 10 but(s) marqué(s)
Minute 93 : 17 but(s) marqué(s)
Minute 94 : 6 but(s) marqué(s)
Minute 95 : 6 but(s) marqué(s)
Minute 96 : 4 but(s) marqué(s)
Minute 97 : 12 but(s) marqué(s)
Minute 98 : 8 but(s) marqué(s)
Minute 99 : 3 but(s) marqué(s)
Minute 100 : 9 but(s) marqué(s)
Minute 101 : 9 but(s) marqué(s)
Minute 102 : 7 but(s) marqué(s)
Minute 103 : 11 but(s) marqué(s)
Minute 104 : 12 but(s) marqué(s)
Minute 105 : 14 but(s) marqué(s)
Minute 106 : 4 but(s) marqué(s)
Minute 107 : 4 but(s) marqué(s)
Minute 108 : 6 but(s) marqué(s)
Minute 109 : 9 but(s) marqué(s)
Minute 110 : 9 but(s) marqué(s)
Minute 111 : 7 but(s) marqué(s)
Minute 112 : 7 but(s) marqué(s)
Minute 113 : 3 but(s) marqué(s)
Minute 114 : 10 but(s) marqué(s)
Minute 115 : 7 but(s) marqué(s)
Minute 116 : 7 but(s) marqué(s)
Minute 117 : 7 but(s) marqué(s)
Minute 118 : 9 but(s) marqué(s)
Minute 119 : 8 but(s) marqué(s)
Minute 120 : 12 but(s) marqué(s)
Minute 121 : 0 but(s) marqué(s)
Minute 122 : 1 but(s) marqué(s)

## <a id='toc2_4_'></a>[Les 5 minutes les plus prolifiques](#toc0_)

In [16]:
df['buts_marques'] = 1

plage_minutes = range(1, 123)

buts_par_minute = {minute: 0 for minute in plage_minutes}

for minute in plage_minutes:
    buts_minute = df[df['minute'] == minute]
    buts_par_minute[minute] = buts_minute['buts_marques'].sum()

top_5_minutes = sorted(buts_par_minute.items(), key=lambda x: x[1], reverse=True)[:5]

print("Les 5 minutes qui ont enregistré le plus grand nombre de buts :")
for minute, buts in top_5_minutes:
    print(f"Minute {minute} : {buts} but(s) marqué(s)")

Les 5 minutes qui ont enregistré le plus grand nombre de buts :
Minute 90 : 1779 but(s) marqué(s)
Minute 45 : 914 but(s) marqué(s)
Minute 89 : 686 but(s) marqué(s)
Minute 75 : 613 but(s) marqué(s)
Minute 88 : 611 but(s) marqué(s)

## <a id='toc2_5_'></a>[Buteurs sur penalty](#toc0_)

In [20]:
buts_penalty = df[df['penalty'] == 1]

buteurs_penalty = buts_penalty.groupby(['scorer', 'team']).size().reset_index(name='nombre_de_buts')

top_10_buteurs_penalty = buteurs_penalty.sort_values(by='nombre_de_buts', ascending=False).head(10)

print("Les 10 meilleurs buteurs sur penalty avec leur nationalité :")
print(top_10_buteurs_penalty)

Les 10 meilleurs buteurs sur penalty avec leur nationalité :
                  scorer                 team  nombre_de_buts
604           Harry Kane              England              19
292    Cristiano Ronaldo             Portugal              19
967         Lionel Messi            Argentina              14
649     Hristo Stoichkov             Bulgaria              13
1353  Robert Lewandowski               Poland              12
293    Cuauhtémoc Blanco               Mexico              11
1099        Mile Jedinak            Australia              11
471      Fernando Hierro                Spain              10
1352        Robbie Keane  Republic of Ireland              10
948       Landon Donovan        United States              10

## <a id='toc2_6_'></a>[Buts contre son camp](#toc0_)

In [23]:
own_goals = df[df['own_goal'] == 1]

own_goal_counts = own_goals['scorer'].value_counts().reset_index()
own_goal_counts.columns = ['joueur', 'nombre_own_goals']

top_10_own_goal_scorers = own_goal_counts.head(10)

print("Les 10 joueurs avec le plus de own goals :")
print(top_10_own_goal_scorers)

Les 10 joueurs avec le plus de own goals :
            joueur  nombre_own_goals
0   José del Solar                 3
1    Ragnar Klavan                 3
2   Rashad Sadygov                 3
3      Walid Abbas                 3
4     Raio Piiroja                 3
5    Gustavo Gómez                 3
6  Cristian Brolli                 3
7       Ján Ďurica                 3
8    Roberto Ayala                 3
9     Mats Hummels                 2

## <a id='toc2_7_'></a>[Meilleurs buteurs à chaque décennie](#toc0_)

In [24]:
df['date'] = pd.to_datetime(df['date'])

decennies = [
    ('1916-01-01', '1919-12-31'),
    ('1920-01-01', '1929-12-31'),
    ('1930-01-01', '1939-12-31'),
    ('1940-01-01', '1949-12-31'),
    ('1950-01-01', '1959-12-31'),
    ('1960-01-01', '1969-12-31'),
    ('1970-01-01', '1979-12-31'),
    ('1980-01-01', '1989-12-31'),
    ('1990-01-01', '1999-12-31'),
    ('2000-01-01', '2009-12-31'),
    ('2010-01-01', '2019-12-31'),
    ('2020-01-01', '2024-12-31')
]

top_buteurs_par_decennie = []

for debut, fin in decennies:
    decennie_data = df[(df['date'] >= debut) & (df['date'] <= fin)]
    
    buteurs_decennie = decennie_data['scorer'].value_counts().reset_index()
    buteurs_decennie.columns = ['joueur', 'nombre_de_buts']
    
    top_5_buteurs_decennie = buteurs_decennie.head(5)
    
    top_buteurs_par_decennie.append(top_5_buteurs_decennie)

for i, (debut, fin) in enumerate(decennies):
    print(f"Meilleurs buteurs de la décennie {debut} à {fin} :")
    print(top_buteurs_par_decennie[i])
    print()

Meilleurs buteurs de la décennie 1916-01-01 à 1919-12-31 :
                joueur  nombre_de_buts
0                 Neco               6
1       Carlos Scarone               6
2     Isabelino Gradín               5
3  Arthur Friedenreich               5
4        Alberto Ohaco               4

Meilleurs buteurs de la décennie 1920-01-01 à 1929-12-31 :
              joueur  nombre_de_buts
0      Pedro Petrone              21
1     Héctor Scarone              18
2  Domingo Tarasconi              13
3       Ángel Romano              11
4    Manuel Ferreira              11

Meilleurs buteurs de la décennie 1930-01-01 à 1939-12-31 :
              joueur  nombre_de_buts
0   Gyula Zsengellér              10
1    Severino Varela              10
2  Teodoro Fernández              10
3    Ēriks Pētersons               9
4    Oldřich Nejedlý               9

Meilleurs buteurs de la décennie 1940-01-01 à 1949-12-31 :
                    joueur  nombre_de_buts
0  Norberto Doroteo Méndez              17
1                  Zizinho              14
2       José Manuel Moreno              13
3                     Jair              13
4        Ademir de Menezes              12

Meilleurs buteurs de la décennie 1950-01-01 à 1959-12-31 :
           joueur  nombre_de_buts
0   Just Fontaine              21
1    Óscar Míguez              15
2            Pelé              14
3            Didi              14
4  Javier Ambrois              12

Meilleurs buteurs de la décennie 1960-01-01 à 1969-12-31 :
                 joueur  nombre_de_buts
0               Eusébio              23
1           Ferenc Bene              18
2           Milan Galić              16
3  Włodzimierz Lubański              14
4            Ole Madsen              14

Meilleurs buteurs de la décennie 1970-01-01 à 1979-12-31 :
            joueur  nombre_de_buts
0      Gerd Müller              25
1     Johan Cruyff              22
2    Grzegorz Lato              18
3  Joachim Streich              18
4      Hans Krankl              15

Meilleurs buteurs de la décennie 1980-01-01 à 1989-12-31 :
                  joueur  nombre_de_buts
0  Karl-Heinz Rummenigge              28
1          Preben Elkjær              23
2         Michel Platini              22
3            Rudi Völler              18
4           Gary Lineker              16

Meilleurs buteurs de la décennie 1990-01-01 à 1999-12-31 :
              joueur  nombre_de_buts
0  Gabriel Batistuta              31
1        Davor Šuker              31
2    Kazuyoshi Miura              30
3   Jürgen Klinsmann              28
4   Hristo Stoichkov              27

Meilleurs buteurs de la décennie 2000-01-01 à 2009-12-31 :
              joueur  nombre_de_buts
0     Jared Borgetti              37
1       Samuel Eto'o              34
2  Andriy Shevchenko              32
3       Carlos Pavón              31
4      Thierry Henry              31

Meilleurs buteurs de la décennie 2010-01-01 à 2019-12-31 :
               joueur  nombre_de_buts
0   Cristiano Ronaldo              66
1  Robert Lewandowski              40
2          Edin Džeko              34
3         Luis Suárez              32
4       Romelu Lukaku              31

Meilleurs buteurs de la décennie 2020-01-01 à 2024-12-31 :
                joueur  nombre_de_buts
0        Romelu Lukaku              30
1        Kylian Mbappé              30
2           Harry Kane              28
3    Cristiano Ronaldo              26
4  Aleksandar Mitrović              23

## <a id='toc2_8_'></a>[Les joueurs avec le plus de doublés](#toc0_)

In [36]:
doubles_par_joueur = df[df.groupby(['date', 'team', 'scorer'])['scorer'].transform('size') >= 2]

doubles_par_joueur = doubles_par_joueur['scorer'].value_counts().reset_index()
doubles_par_joueur.columns = ['joueur', 'nombre_de_doubles']

top_5_joueurs_doubles = doubles_par_joueur.head(5)

print("Les cinq joueurs avec le plus de doublés :")
print(top_5_joueurs_doubles)

Les cinq joueurs avec le plus de doublés :
                joueur  nombre_de_doubles
0    Cristiano Ronaldo                 73
1        Romelu Lukaku                 44
2   Robert Lewandowski                 39
3  Aleksandar Mitrović                 28
4          Carlos Ruiz                 28

## <a id='toc2_9_'></a>[Les joueurs avec le plus de triplés](#toc0_)

In [37]:
triple_par_joueur = df[df.groupby(['date', 'team', 'scorer'])['scorer'].transform('size') >= 3]

triple_par_joueur = triple_par_joueur['scorer'].value_counts().reset_index()
triple_par_joueur.columns = ['joueur', 'nombre_de_triples']

top_5_joueurs_triples = triple_par_joueur.head(5)

print("Les cinq joueurs avec le plus de triplés :")
print(top_5_joueurs_triples)

Les cinq joueurs avec le plus de triplés :
               joueur  nombre_de_triples
0   Cristiano Ronaldo                 35
1         Damian Mori                 19
2  Robert Lewandowski                 19
3      Vaughan Coveny                 16
4          Harry Kane                 16

## <a id='toc2_10_'></a>[Les joueurs avec le plus de quadruplés](#toc0_)

In [38]:
quadruple_par_joueur = df[df.groupby(['date', 'team', 'scorer'])['scorer'].transform('size') >= 4]

quadruple_par_joueur = quadruple_par_joueur['scorer'].value_counts().reset_index()
quadruple_par_joueur.columns = ['joueur', 'nombre_de_quadruples']

top_5_joueurs_quadruples = quadruple_par_joueur.head(5)

print("Les cinq joueurs avec le plus de quadruplés :")
print(top_5_joueurs_quadruples)

Les cinq joueurs avec le plus de quadruplés :
              joueur  nombre_de_quadruples
0    Kazuyoshi Miura                    14
1  Cristiano Ronaldo                    14
2      Karim Bagheri                    13
3        Damian Mori                    13
4    Archie Thompson                    13

## <a id='toc2_11_'></a>[Les joueurs avec le plus en un match](#toc0_)

In [40]:
buts_par_match_par_joueur = df.groupby(['date', 'team', 'scorer'])['scorer'].count().reset_index(name='nombre_de_buts')

top_10_joueurs_buts_match_unique = buts_par_match_par_joueur.sort_values(by='nombre_de_buts', ascending=False).head(10)

print("Les cinq joueurs avec le plus de buts marqués en un seul match :")
print(top_10_joueurs_buts_match_unique)

Les cinq joueurs avec le plus de buts marqués en un seul match :
            date       team              scorer  nombre_de_buts
17279 2001-04-11  Australia     Archie Thompson              13
17282 2001-04-11  Australia       David Zdrilic               8
11920 1993-07-11     Mexico  Luís Roberto Alves               7
14275 1997-06-02       Iran       Karim Bagheri               7
7587  1981-08-14  Australia           Gary Cole               7
14506 1997-06-22      Japan     Kazuyoshi Miura               6
6329  1977-04-30    Austria         Hans Krankl               6
32433 2019-06-05   Portugal   Cristiano Ronaldo               6
17269 2001-04-09  Australia         John Aloisi               6
25756 2011-07-09    Bahamas     Lesly St. Fleur               6